@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;1,500&display=swap');


body{
    background-color: rgb(61, 127, 174);
    font: normal 15pt Arial;
}

header{
font-family: 'Times New Roman', Times, serif;
align-items: center;
text-align: center;
background-color: aliceblue;
border-radius: 10px;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 10px; 
}

#foto{
    height: 280px;
    width: 280px;
}

.relogio{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background-color: transparent;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgb(119, 134, 144);
}

.relogio div{
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: rgb(47, 47, 64.7);
    border-radius: 7px;
    letter-spacing: 3px;
}

.relogio span{
    font-weight: bolder;
    font-size: 60px;
}

.relogio span.tempo{
    font-size: 10px;
}

footer{
    text-align: left;
    font-style: italic;
    color: rgb(11, 11, 11);
}

